{% extends "mail_template.twig" %}

{% block mail_text %}
This is the text of the mail A.

Does it works ?
{% endblock %}

{% block mail_html %}
<p>This is the text of the mail A.</p>

<p><strong>Does it works ?</strong></p>
{% endblock %}
