{% block subject 'my-website.fr'  %}

{% block body_text %}
ALEXANDRE-SALOME.FR
----

{% block mail_text '' %}

----
This mail was sent from alexandre-salome.fr
{% endblock %}

{% block body_html %}
<h1>alexandre-salome.fr</h1>
<hr />
{% block mail_html '' %}
<hr />
<p>This mail was sent from alexandre-salome.fr</p>
{% endblock %}
